DATABASE_URL="file:./dev.db"

# WhatsApp Configuration (None needed, uses QR Code terminal)

# Telegram Configuration
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"

# Google Sheets Configuration
GOOGLE_SPREADSHEET_ID="your_google_sheet_id_here"
GOOGLE_SERVICE_ACCOUNT_EMAIL="your_service_account_email@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
